<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="/">Main</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Log in</a></li>
            </ul>
        </div>
    </div>
</nav>